*{
	padding: 0;
	margin: 0;
}
.navbar {
	min-height: 100px;
}
nav .container a {
	color: #000000;
	text-decoration: none;
	/*font-weight: bold;*/
}
#item1{
	background-color: grey;
	height: 500px;
	padding: 1vw;
}
.container{
	width: 90%;
    background: #929191;
    color: #000000;
}
.container-fluid .container{
	margin-bottom: 20px;
}
nav .container {
    width: 100%;
    box-shadow: 0 0 5px 0 #000000;
}
.navbar-right{
		padding: 30px 20px;
}
.h1, h1 {
    font-weight: bold;
}
.h2, h2 {
    font-weight: 700;
}
.nav>li {
	text-align: center;
}
.navbar-default .navbar-brand {
	height: 100px;
}
.glyphicon {
	margin-right: 1vw;
}
@media (min-width: 768px){
	nav .container {
	    width: 100%;
    	background: #29e2bf;
	}
}
@media (max-width: 767px){
	nav .container .navbar-header{
    	background: #29e2bf;
	}
	.navbar-default .navbar-collapse{
		background: #ffffff;
	}
	.nav>li {
		border-bottom: 2px solid #bfb7b7;
	}
	.navbar-toggle {
		padding: 15px 15px;
    	margin: 30px 15px;
	}

}